*{
    margin: 0;
    padding: 0;
    font-family: "Poppin", sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(57, 57, 131);
    color: #fff;
}

.container{
    margin: 100px;
    padding: 5%;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    margin-bottom: 40px;
}

h1 span{
    border-bottom: 3px solid white;
}

.password{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.password input{
    border:none;
    outline: none;
    font-size: 18px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.password p{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px;
    background: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.generate{
    margin-top: 15px;
    background-color: rgb(108, 111, 147);
    font-size: 20px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

.generate, .password p:hover{
    cursor: pointer;
}